body{
    background-color: black;
}

.all{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 700px;
    height: 650px;
    background-color: white;
    border-radius: 8px;
}
.income{
    font-size: 18px;
    margin-left: 24px;
    margin-top: 40px;
    font-family: sans-serif;

}
.org{
    width: 408px;
}
.mean{
    height: 48px;
    opacity: 0.5;
    border: 1px solid #AEAEAE;
    border-radius: 8px;
    padding-left: 16px;
    margin-top: 16px;
}
.ind{
    margin-left: 24px;
}

.position{
    width: 200px;
}


.salary{
    width: 304px;
    margin-top: 16px;
}

.credit{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 16px;
    margin: 15px 0 0 24px;
}
.phone{
    width: 640px;

}

button{
    width: 348px;
    height: 48px;
    margin-top: 40px;
    margin-left: 160px;
    background-color: black;
    color: white;
    font-size: 20px;
    border: 1px solid black;
}
.position-1{
    width: 220px;
    height: 52px !important;
}
